<!-- Social Aside -->
<aside class="social">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <a href="https://www.github.com/guilhermearaujo">
          <img src="img/logos/github.png" class="img-responsive img-centered" alt="">
        </a>
      </div>
      <div class="col-md-2 col-md-offset-2">
        <a href="https://br.linkedin.com/in/guilhermeamaraujo">
          <img src="img/logos/linkedin.png" class="img-responsive img-centered" alt="">
        </a>
      </div>
      <div class="col-md-2 col-md-offset-2">
        <a href="https://careers.stackoverflow.com/guilhermearaujo">
          <img src="img/logos/stackoverflow.png" class="img-responsive img-centered" alt="">
        </a>
      </div>
    </div>
  </div>
</aside>
